<p>
  ABSTMA® was established in 2019 by three IronHackers, Abdo, Stefano and Martin, who first met in Amsterdam, Netherland. 
  While brainstorming ideas about their second project, they came to the realization that a lot of waste is produced daily 
  which in turn it translates into pollution. They firmly believe each individual should be more cognizant of the quality of the environment we, as a society, live in.
  <br>By merging their passions for web design and programming with their love for other's fellow citizens, they decided to take the chance to do something that could change our cities, 
  and in turn our world, for the better. The core idea behind ABSTMA is to render our community more aware of the amount of waste we all generate daily.
  <br> A simple business model, where individuals donate material that would otherwise be wasted, and businesses receive this material to create new products 
  that will make it into the market is the main idea ABSTMA is built upon. In addition, individuals who contributed with donations will be able to receive advantageous discounts when purchasing 
  goods that were created thanks to their collaboration. Furthermore, ABSTMA is currently developing a pickup and delivery system to make the entire process wholly transparent and smooth for individual and businesses alike. 
</p>